In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Define Parameters
stock_ticker = "AAPL"
market_ticker = "^GSPC"
risk_free_rate = 0.03 / 252

# Download historical data
start_date = '2023-11-01'
end_date = '2024-11-01'

In [3]:
stock_data = yf.download(stock_ticker, start= start_date, end= end_date)
market_data = yf.download(market_ticker, start= start_date, end= end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
# Calculate daily returns
stock_data['Returns'] = stock_data['Adj Close'].pct_change()
market_data['Returns'] = market_data['Adj Close'].pct_change()

In [5]:
stock_data.head()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
2023-11-01,171.000000,174.229996,170.119995,173.970001,172.894089,56934900,NaN
2023-11-02,175.520004,177.779999,175.460007,177.570007,176.471832,77334800,0.020693
2023-11-03,174.240005,176.820007,173.350006,176.649994,175.557495,79763700,-0.005181
2023-11-06,176.380005,179.429993,176.210007,179.229996,178.121552,63841300,0.014605
2023-11-07,179.179993,182.440002,178.970001,181.820007,180.695557,70530000,0.014451

In [6]:
# Drop NA values in returns
returns_df = pd.DataFrame({
    'Stock': stock_data['Returns'],
    'Market': market_data['Returns']
}).dropna()

In [7]:
# Calculate beta
covariance = np.cov(returns_df['Stock'], returns_df['Market'])[0, 1] # indicates the level to which two variables vary together

variance_market = np.var(returns_df['Market']) # variance of index

beta = covariance / variance_market
print(f"Beta: {beta}")

Beta: 1.0377834696214572

##### if Beta > 1 : Agressive Stock
#####   Beta < 1 : Conservative Stock
#####    Beta = 1 : Moderate Stock

In [8]:
# Calculate expected return using CAPM
market_return = market_data['Returns'].mean() * 252 # Annualised market return
expected_return = risk_free_rate * 252 + beta * (market_return - risk_free_rate * 252)
print(f"Expected Return: {expected_return * 100:.2f}%")

Expected Return: 31.66%